
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"  (click)="service.Go('\home')"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button color="light" (click)="service.logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <center>
        <b>  Group chat </b>
    </center>
    </ion-title>

  </ion-toolbar>

</ion-header>
<!--    <ion-title *ngIf="connected">{{userId}}</ion-title>-->
<ion-content>
<div class="stream" >
  
  <ion-item lines="none" *ngFor="let message of messages">
    <ion-badge text-wrap *ngIf="message.userId == userId" slot="end" color="tertiary"> {{ message.login +" : "+ message.text }}</ion-badge>
    <ion-badge text-wrap *ngIf="message.userId != userId" slot="start" color="secondary"> {{ message.login +" : "+ message.text }}</ion-badge>
  </ion-item>
</div>
</ion-content>

<ion-footer>
<ion-grid>
  <ion-row>
    <ion-col size ="10" class="input-col">
      <ion-input [(ngModel)]="messageText" placeholder="Entrez votre message" type="text"></ion-input>
    </ion-col>
    <ion-col size ="2" class="send-col">
      <ion-button shape="full" (click)="sendMessage()" color="#ffc0cb">
        <ion-icon slot="icon-only" name="send" ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>