
<ion-content>
  <br>
  <img src="assets/lg.png" />
  <center>
  <h2><b> Un chat fait par des filles pour les filles !</b></h2>
  <br>
  <ion-input expand="block" [(ngModel)]="user.email" placeholder="Enter your email"></ion-input>
  <br>
  <ion-input expand="block"  [(ngModel)]="user.password" placeholder="Enter your password" type ="password"></ion-input>
  <br>
  <ion-button expand="block" (click)="logMeIn()" color="medium">Login</ion-button>
  <br>
  <ion-button  expand="block" (click)="service.Go('/register')" color="secondary">Register</ion-button>
</center>

</ion-content>
