
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"  (click)="service.Go('\messages')"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button color="light" (click)="service.logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <center>
        <b>  Online users </b>
    </center>
    </ion-title>

  </ion-toolbar>

</ion-header>
<!--    <ion-title *ngIf="connected">{{userId}}</ion-title>-->
<ion-content>
<div class="stream" >
  
  <ion-item lines="none" *ngFor="let onlineuser of service.onlineusers">
    <ion-button  color="secondary" (click)="service.chat(onlineuser.mail)"> <h3>{{onlineuser.login}} </h3></ion-button>
  </ion-item>
</div>
</ion-content>
