
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"  (click)="service.Go('\home')"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button color="light" (click)="service.logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <center>
        <b>  Private CHAT </b>
    </center>
    </ion-title>

  </ion-toolbar>

</ion-header>
<!--    <ion-title *ngIf="connected">{{userId}}</ion-title>-->
<ion-content>
  <center>
    <ion-button expand="block" fill ="clear" class="myb2"  (click)="service.Go('\online')">Online users</ion-button>
    <ion-button expand="block" fill ="clear" class="myb2"  (click)="service.Go('\offline')">Offline users</ion-button>
  </center>
</ion-content>
