<ion-header>
  <!--
  <ion-toolbar color="tertiary">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true" >
 

  <div id="container">
  

    <img src="assets/lg.png" />



  <center>    
    <h2><b *ngIf=" this.blocked=='no'" > Welcome home {{service.login}} !</b></h2>
    <button *ngIf=" this.blocked=='yes'" class="myb" (click)="service.logout()" > Sorry {{service.login}}, you have been BLOCKED !</button>
  
    <br>
    <!--ion-button expand="block" fill ="clear" class="myb" (click)="service.Go('/chat')" >Go Chat</ion-button-->
    <ion-button *ngIf=" this.blocked=='no'" expand="block" fill ="clear" class="myb" (click)="service.Go('/rules')" >
      <div>
        <ion-icon name="receipt-outline"></ion-icon>
        <label style="margin:10px">Chat RULES</label>
      </div>
    </ion-button>
    <ion-button *ngIf=" this.blocked=='no'" expand="block" fill ="clear" class="myb" (click)="service.Go('/grp')"  >
      <div>
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <label style="margin:10px">Chat Rooms</label>
      </div>
    </ion-button>
    <ion-button *ngIf=" this.blocked=='no'" expand="block" fill ="clear" class="myb"  (click)="service.Go('/messages')">
      <div>
        <ion-icon name="chatbubble-outline"></ion-icon>
        <label style="margin:10px">Private Chat</label>
      </div>
    </ion-button>
    <ion-button *ngIf=" this.blocked=='no'" expand="block" fill ="clear" class="myb" (click)="service.Go('/account')" >
      <div>
        <ion-icon name="person-outline"></ion-icon>
        <label style="margin:10px">My account</label>
      </div>
    </ion-button>
  
  </center>

  </div>
</ion-content>
