<ion-header>
  <!--
  <ion-toolbar color="tertiary">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true" >
 

  <div id="container">
  

    <img src="assets/lg.png" />



  <center>    
    <h2><b> Bienvenue {{service.login}} !</b></h2>
    <br>
    <!--ion-button expand="block" fill ="clear" class="myb" (click)="service.Go('/chat')" >Go Chat</ion-button-->
    <ion-button expand="block" fill ="clear" class="myb" (click)="service.Go('/grp')"  >Go Chat</ion-button>
    <ion-button expand="block" fill ="clear" class="myb"  (click)="service.Go('/messages')">Private Chat</ion-button>
    <ion-button expand="block" fill ="clear" class="myb" (click)="service.Go('/account')" >My account</ion-button>
  </center>

  </div>
</ion-content>
