<ion-header>
  <!--
  <ion-toolbar color="tertiary">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true" >
 

  <div id="container">
  

    <img src="assets/lg.png" />



  <center>    
    <h2><b> Un chat fait par des filles pour les filles !</b></h2>
    <ion-button expand="block" fill ="clear" class="myb" (click)="service.Go()" >Go Chat</ion-button>
    <ion-button expand="block" fill ="clear" class="myb"  >Private Chat</ion-button>
    <ion-button expand="block" fill ="clear" class="myb"  >My account</ion-button>
  
  </center>

  </div>
</ion-content>
